.nav {
  height: 20%;
  width: 100%;
  display: flex;
  font-family: sans-serif;
}
.navImg {
  height: 10%;
  width: 10%;
}

.title {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.titleName {
  font-size: 2rem;
  text-decoration: lowercase;
  line-height: 0.2rem;
  justify-self: flex-end;
  font-family: monospace;
  margin-bottom: 0;
}

.subtitleName {
  justify-self: start;
  font-size: medium;
  opacity: 0.75;
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.login {
  text-decoration: none;
  align-self: center;
  margin: 5px 10px 5px 5px;
  color: black;
  height: 50%;
  padding: 10px;
  font-family: Helvetica;
}
.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.signup {
  text-decoration: none;
  align-self: center;
  margin: 5px;
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 10px;
  border-radius: 20px;
  height: 50%;
  font-family: Helvetica;
  transition: all 1s;
}
.signup:hover {
  background-color: brown;
}
