.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 10px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

.cart img[alt="thumbnail"] {
  border-radius: 10%;
  margin: auto;
  margin-right: 9px;
  margin-left: 9px;
  height: 80%;
  width: 25%;
  transition: all 1s;
}

.cart img[alt="thumbnail"]:hover {
  transform: scale(0.9);
  opacity: 0.8;
}

.cart main {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-right: 1px solid grey;
}

.cart main div {
  display: flex;
  justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cart main > * {
  margin: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.brand {
  margin-left: 20px;
  color: green;
  text-transform: uppercase;
}

.category {
  margin-left: 20px;
  color: black;
  opacity: 0.8;
  text-transform: capitalize;
}

.cart main header {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 3.5%;
  font-family: "Courier New", Courier, monospace;
}

.cart section {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart section > * {
  margin: 0 10% 0 10%;
}

.price {
  margin-bottom: 0;
  font-size: large;
}

.oldprice {
  margin-top: 0;
  opacity: 0.85;
  color: red;
  text-decoration: line-through;
  margin-bottom: 30% !important;
}

.buynow {
  margin: 5px;
  padding: 5px;
  height: 7%;
  text-decoration: none;
  align-self: center;
  color: white;
  background-color: rgb(0, 132, 255);
  border-radius: 20px;
  border: 2px solid rgb(0, 132, 255);
  font-family: Helvetica;
  transition: all 1s;
  cursor: pointer;
}

.buynow:hover {
  background-color: brown;
  border: 2px solid brown;
}
